.MainHome {
    background: #1b1919;
    
}

.homePic {
    background-image: url('/dark-gym.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 30rem;

    display: flex;
    
    justify-content: space-between;
}
.homeText {
    width: 35rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #100e0eb2;

}

.homeText h1 {
    color: whitesmoke;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(109, 109, 109);
    padding: 1rem;
    font-size: 2rem;
}

.homeText h2 {
    color: whitesmoke;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(109, 109, 109);
    padding: 1rem;
    font-size: 2rem;
}

.homeText p {
    color: white;
    /* text-align: left; */
    width: 30rem;
    font-size: 1.5rem;
    text-shadow: 1px 1px 10px rgb(162, 162, 162);
}

@media screen and (max-width:  767px){
    .homeText{
        width: 100%;  
    }
    .homeText p {
        width: 100%;
        font-size: 1rem;
    }
}


/* features header */

.featuresHeader {
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: whitesmoke;
}

.featuresHeader .f1 {
    font-size: 3rem;
    text-shadow: 10px 10px 25px #c776f6b7;
    padding: 1rem;
}

.featuresHeader .f2 {
    font-size: 1.5rem;
    width: 42%;
    text-shadow: 10px 10px 25px #7e7285b7;
}

/* Features containers */

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 3rem;
    justify-content: center;

    color: whitesmoke;
}

.Why {
    margin-top: 5rem;
    /* width: 35%; */
    padding: 2rem;

    font-size: 1.25rem;
    color: whitesmoke;

    /* border: grey 1px solid; */

    background-image: url('/interior-gym.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 20vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.food{
    background-image: url('/features/fruit2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 98% 100% ;
    overflow: hidden;
    width: 80%;
}
.foodText{
    color:whitesmoke;
    /* background: #1b1919f0;
    border-radius: 5rem; */

    display: flex;
    flex-direction: column;
   
    width:50%;
    margin: 3rem 1rem;
    /* padding-bottom:2rem; */
}

.foodText h2{
    text-shadow: 10px 10px 4px #2b7127b7;
    font-size: 2.3rem;
    padding: 2rem;
    text-align: center;
}
.foodText p{
    text-shadow: 2px 2px 10px #417c16;
    font-size: 1.6rem;
    /* text-indent: 1rem; */
    text-align: center;
    padding: 2rem;
}