
@media screen and (max-width:  767px){
    body #root .Navbar{
        display: none;
    }
    .cqLdUE {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:  1513px){
    body #root .FullMain{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        background: rgb(28, 28, 28);
        overflow: hidden;
    }
    body #root .FullMain .MainHome {
        width: 85vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        
    }
}

