.nutrition-page{
    display:flex;
    flex-direction: column;
    min-height:100vh;
    width:100vw;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-image: url('https://static1.srcdn.com/wordpress/wp-content/uploads/2017/03/Pizza-Time-Teenage-Mutant-Ninja-Turtles.jpg');
    
}
.nutrition-page-text{
    color: whitesmoke;
    text-shadow: 1px 1px 10px rgb(109, 109, 109);
}
.nutrition-page-text-meal{
    color: whitesmoke;
    text-shadow: 1px 1px 10px rgb(109, 109, 109);
    text-align: center;
}
.nutrition-entry{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(94, 37, 148);
    opacity:0.7;
    padding: 20px;
}
.food{
    display:flex;
    width: 80vw;
    
}
.ingredient{
    display: flex;
    width: 80vw;
    
}
.results{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.img{
    height:10vh;
    width: 10vh;
    border-radius: 100%;
}
.mealList{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
   height:fit-content;
    width: 80vw;
    padding: 20px;
    
}
.resultsContainer{
    display: flex;
    font-size: 15px;
    flex-direction: column;
    justify-content: space-around;
    height:25vh;
    width: 60vw;
    background-color: rgb(94, 37, 148);
    opacity:0.6;
    border-radius: 10px;
    padding: 20px;
    
}

.resultsContainer > h2{
    text-align: center;
}

.new-button{
    border: none;
    background: transparent;
    padding: 4px 16px;
    font-size: 1.1rem;
    color: white;
    background: rgba(199, 118, 246, 0.719);  
    border-radius: 5px;
    transition: 0.2s all ease-out;
    cursor: pointer;
}


.new-button:hover {
    color: rgb(199, 118, 246);
    background: white;
}

